.container {
  display: flex;
  justify-content: center;

  button {
    padding: .75rem 3rem;
    box-shadow: inset 0 0 0 0.1px #27496d,0 5px 15px #193047;
    position: relative;
    width: 30%;

    &:focus {
      box-shadow: inset 0 0 0 0.1px #27496d,0 5px 15px #193047;
    }

    &:active {
      transform: translateY(4px)
    }
  }

  button:first-child {
    margin-right: 1.5rem;
  }
}
