<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>React Timer</title>
    <!--<link rel='shortcut icon' href=''>-->
</head>

  <body>
    <h1>EJS Static</h1>
    <div id="app"></div>
    <script src="dist/bundle.js"></script>
  </body>

</html>
